//rest css
.slick-prev {
    box-shadow: rgb(109, 226, 239) 2px 2px 5px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgb(181, 231, 237);
    background-color: rgb(255, 255, 255);
    left: 98%;
    transition-duration: 0s;
    // position: relative !important;
    left: -30px !important;
    z-index: 1000 !important;

    &:hover {
        background: #ededec !important;
    }
}

.slick-prev:before {

    font-family: Montserrat, sans-serif !important;
    font-size: 20px;
    line-height: 1.5 !important;
    outline: none !important;
    color: rgb(176, 171, 162) !important;
    content: "<" !important;
}

.slick-next:before {
    font-family: Montserrat, sans-serif !important;
    font-size: 20px;
    line-height: 1.5 !important;
    outline: none !important;
    color: rgb(176, 171, 162) !important;
    content: ">" !important;
}

.slick-next {
    box-shadow: rgb(109, 226, 239) 2px 2px 5px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgb(181, 231, 237);
    background-color: rgb(255, 255, 255);
    left: 98%;
    transition-duration: 0s;

    &:hover {
        background: #ededec !important;
    }
}

.section-share {
    &.section-specialty {
        background: #f4f4f499;
    }

    &.section-outstanding-doctor {
        background: #f4f4f499;
    }

    &.section-about {
        height: 500px !important;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;

    }

    .section-body {

        .section-customize {
            width: 96% !important;
            border: 1px solid #ccc;
            border-radius: 30px;
            margin-left: 4px;

            .bg-image {
                //margin-left: 8px;
                //border: 1px solid #ccc;
                object-fit: contain;
                border-radius: 30px;
                width: 100%;
                height: 210px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;

                &.section-specialty {
                    //background-image: url("../../assets/Specialty/co-xuong-khop.jpg");
                }

                &.section-medical-facility {
                    //background-image: url("../../assets/medial-facility/lo-go-viet-duc.jpg");
                }

                &.section-outstanding-doctor {
                    // background-image: url("../../assets/Outstanding-doctor/AD-hanoi.jpg");
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                }

                &.section-handbook {
                    background-image: url('../../assets/handbook/nha-khoa.png');
                }
            }
        }

    }
}

.section-share {
    height: 360px;


    .section-container {
        margin: 20px 90px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                display: block;
                padding: 10px 15px;
                border: none;
                outline: none;
                background: #ebebeb;
                color: black;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }


    }

}

.section-outstanding-doctor {
    .outer-gb {
        display: flex;
        justify-content: center;
    }

    .section-customize {
        padding: 5px;
        cursor: pointer;

        .customize-border {
            padding: 18px;
        }
    }
}

.home-footer {
    text-align: center;
    padding-top: 8px;

    a {
        text-decoration: none;
    }
}

.section-about {
    padding: 30px 70px;

    .section-about-header {
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;
    }

    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;

        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;

            p {
                text-align: justify;
                font-style: italic;
                padding: 15px;
            }
        }
    }
}

.connect-button {
    position: fixed;
    bottom: 30px;
    left: 20px;
    z-index: 99999;

}

.zalo-button {
    background-image: url('../../assets/logo-zalo.png');
    height: 74px;
    width: 60px;
    margin-bottom: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.facebook-button {
    background-image: url('../../assets/logo-facebook.png');
    height: 54px;
    width: 57px;
    margin-bottom: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.hotline-button {
    background-image: url('../../assets/handbook/nha-khoa.png');
    height: 60px;
    width: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.connect-button a {
    display: block;
}

.search {
    display: block !important;
}

.contentSearch {
    height: 150px;
    cursor: pointer;
    overflow-y: scroll;
    padding-top: 10px;
}

.contentSearch::-webkit-scrollbar {
    display: none;
    /* Ẩn thanh cuộn trên trình duyệt Chrome, Safari */
}

.contentSearch {
    scrollbar-width: none;
    /* Ẩn thanh cuộn trên trình duyệt Firefox */
    -ms-overflow-style: none;
    /* Ẩn thanh cuộn trên trình duyệt Internet Explorer/Edge */
}

.itemSearch {
    cursor: pointer;
}