.profile-doctor-container {
    .infro-doctor {
        display: flex;

        .content-left {
            width: 20%;
            background: center center no-repeat;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 10px 20px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #eee;

        }

        .content-right {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                font-weight: 600;
            }

            .down {
                padding-top: 10px;
            }
        }
    }
}